/* Be careful, SASS files are whitespace sensitive */
/***************************************
 * Variables & Mixins
 *************************************** */
/***************************************
 * Global Styles
 *************************************** */
body, #page-header, #page-footer {
  margin: 0px;
}

body {
  padding: 70px 0px;
}

#page-header {
  margin-bottom: 20px;
}

#page-footer {
  margin-top: 20px;
}

#page-body-viewport {
  overflow: hidden;
}
@media (min-width: 768px) {
  #page-body-viewport {
    border-radius: 6px;
  }
}

/***************************************
 * Header Styles
 *************************************** */
#page-header .navbar-brand {
  margin-left: 2px;
  padding: 0px;
}
#page-header .navbar-brand img {
  height: 50px;
}

#page-header .navbar-toggle {
  margin: 8px 8px 8px 0px;
  height: 36px;
  width: 44px;
}
#page-header .navbar-toggle .icon-bar {
  width: 100%;
}

#page-header .navbar-nav > li {
  font-size: larger;
  letter-spacing: 1px;
}
#page-header .navbar-nav > li.active {
  border-top-width: 5px;
  border-top-style: solid;
}
#page-header .navbar-nav > li.active > a {
  margin-top: -5px;
}

#page-header .container-fluid {
  max-width: 750px;
}
@media (min-width: 992px) {
  #page-header .container-fluid {
    max-width: 970px;
  }
}
@media (min-width: 1200px) {
  #page-header .container-fluid {
    max-width: 1170px;
  }
}
#page-header .container-fluid .navbar-header {
  margin-left: 0px;
  margin-right: 0px;
}
@media (min-width: 768px) {
  #page-header .container-fluid .navbar-nav.navbar-right:last-child {
    margin-right: 0px !important;
  }
}

/***************************************
 * Body Styles
 *************************************** */
#page-body-viewport, #page-body-content > *, .carousel {
  height: 480px;
}
@media (min-width: 992px) {
  #page-body-viewport, #page-body-content > *, .carousel {
    height: 680px;
  }
}

/***************************************
 * Footer Styles
 *************************************** */
#page-footer .container-fluid {
  padding-left: 10px;
  padding-right: 10px;
}

#page-footer .navbar-collapse {
  padding: 0px 15px;
  border: 0px;
}
@media (min-width: 768px) {
  #page-footer .navbar-collapse {
    padding: 0px;
  }
}
#page-footer .navbar-nav {
  margin: 0px;
  width: 100%;
}
#page-footer .navbar-nav li {
  font-size: smaller;
  letter-spacing: 1px;
  padding: 0px;
  margin: 0px 6px;
  white-space: nowrap;
}
#page-footer .navbar-nav li .navbar-form {
  border-width: 0px;
}
@media (min-width: 768px) {
  #page-footer .navbar-nav li {
    padding: 5px 0px;
  }
}
@media (min-width: 992px) {
  #page-footer .navbar-nav li {
    padding: 10px 0px;
    margin: 0px;
    width: 25%;
  }
}
#page-footer .navbar-nav li > * {
  display: inline-block;
  height: 40px;
  margin: 6px 4px;
  padding: 0px;
  vertical-align: middle;
}
@media (min-width: 992px) {
  #page-footer .navbar-nav li > * {
    margin: 6px 8px;
  }
}
#page-footer .navbar-nav li > * > * {
  display: inline-block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#page-footer *[role="search"] {
  margin-left: 0px !important;
  margin-right: 0px !important;
}
#page-footer *[role="search"] input {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  float: left;
  font-size: inherit;
  height: 24px;
  width: 125px;
  padding: 4px;
}
@media (min-width: 992px) {
  #page-footer *[role="search"] input {
    width: 175px;
  }
}
@media (min-width: 1200px) {
  #page-footer *[role="search"] input {
    width: 225px;
  }
}
#page-footer *[role="search"] button {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-left-width: 0px;
  display: block;
  font-size: inherit;
  height: 24px;
  padding: 0px 10px;
}

/***************************************
 * Home Styles
 *************************************** */
body.light {
  background-image: url("../assets/images/background-wood-dark.png");
  background-color: #cccccc;
  color: #fafafa;
  /* Input boxes */
  /* Searchbox */
  /* Navigation background */
}
body.light ::-webkit-input-placeholder {
  color: #cccccc;
}
body.light *[role="search"] > * {
  background-color: gray;
  border-color: #cccccc;
  color: #cccccc;
}
body.light .navbar-default {
  background-color: rgba(204, 204, 204, 0.75);
  border-color: transparent;
  /* Mobile toggles */
  /* Navigation text-only color */
  /* Navigation tabs */
}
body.light .navbar-default .navbar-toggle {
  border-color: transparent;
}
body.light .navbar-default .navbar-toggle:hover, body.light .navbar-default .navbar-toggle:focus {
  background-color: gray;
}
body.light .navbar-default .navbar-toggle .icon-bar {
  background-color: #cccccc;
}
body.light .navbar-default .navbar-toggle .glyphicon {
  color: #cccccc;
}
body.light .navbar-default .navbar-text {
  color: #cccccc;
}
body.light .navbar-default .navbar-nav > li .dropdown-menu {
  background-color: rgba(204, 204, 204, 0.75);
}
body.light .navbar-default .navbar-nav > li a {
  background-color: transparent !important;
  color: #e6e6e6;
}
body.light .navbar-default .navbar-nav > li a:hover, body.light .navbar-default .navbar-nav > li a:focus {
  color: white;
}
body.light .navbar-default .navbar-nav > li.active {
  border-top-color: #abcced;
}
body.light .navbar-default .navbar-nav > li.active > a {
  color: white;
}
body.dark {
  background-image: url("../assets/images/background-wood-dark.png");
  background-color: #666666;
  color: #fafafa;
  /* Input boxes */
  /* Searchbox */
  /* Navigation background */
}
body.dark ::-webkit-input-placeholder {
  color: #cccccc;
}
body.dark *[role="search"] > * {
  background-color: gray;
  border-color: #cccccc;
  color: #cccccc;
}
body.dark .navbar-default {
  background-color: rgba(102, 102, 102, 0.75);
  border-color: transparent;
  /* Mobile toggles */
  /* Navigation text-only color */
  /* Navigation tabs */
}
body.dark .navbar-default .navbar-toggle {
  border-color: transparent;
}
body.dark .navbar-default .navbar-toggle:hover, body.dark .navbar-default .navbar-toggle:focus {
  background-color: gray;
}
body.dark .navbar-default .navbar-toggle .icon-bar {
  background-color: #cccccc;
}
body.dark .navbar-default .navbar-toggle .glyphicon {
  color: #cccccc;
}
body.dark .navbar-default .navbar-text {
  color: #cccccc;
}
body.dark .navbar-default .navbar-nav > li .dropdown-menu {
  background-color: rgba(102, 102, 102, 0.75);
}
body.dark .navbar-default .navbar-nav > li a {
  background-color: transparent !important;
  color: #b3b3b3;
}
body.dark .navbar-default .navbar-nav > li a:hover, body.dark .navbar-default .navbar-nav > li a:focus {
  color: white;
}
body.dark .navbar-default .navbar-nav > li.active {
  border-top-color: #2466a8;
}
body.dark .navbar-default .navbar-nav > li.active > a {
  color: white;
}
